
* {
	box-sizing: border-box;
	font-family: fantasy, sans-serif;
}
body {
	color: rgb( 0, 0, 0);
}
a:hover {
	text-decoration: none;
}
nav div > a {
	color: white;
}
#but {
	align-self: right;
	color: white;
}
section div > a {
	color: blue;
	font-size: 17px;
}
#top {
	margin: 20px auto 20px auto;
}
#menu_head {
	margin: 20px 0px 20px 0px;
}
#head-nav-bar {
	background-color: rgb( 20, 20, 20 );
	margin: -1px 0px 0px -1px;
	width: 100%;
}
.foot{
	background-color: black;
	color: white;
	padding-top: 10px;
	margin-top: 20px;
}
#collapse-nav {
	text-align: center;
	background-color: rgb(10, 180, 10);
}
#collapse-nav a:hover {
	width: 100%;
	color: black;
	background-color: white;
}
#collapse-nav ul li {
	width: 100%;
	color: white;
	padding: 10px;
	list-style: none;
}
#nav {
	background-color: rgb( 20, 20, 20);
	border-radius: 0px;
	border: 0px;
}
#nav-list {
  margin-top: 5px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: white;
}
#chicken, #beef, #sushi {
	background-color: rgb( 200, 200, 200);
	text-align: center;
	width: 90%;
	padding: 5px;
	margin: 0 auto;
}
.menu {
	/*margin: 10px;*/
	/*background-color: rgb( 200, 200, 200);*/
	text-align: center;
}
.data_title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}


@media ( min-width: 992px ) {
	#chicken {
		width: 90%;
		background-color: rgb(220, 220, 220);
		margin-bottom: 30px;
	}
	#sushi {
		/*margin-top: 20px;*/
		width: 95%;
	}
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
	#beef {
		/*margin-top: 20px;*/
		/*margin-bottom: 20px;*/
	}
	#sushi {
		margin-top: 20px;
		width: 95%;
	}
}

@media ( max-width: 767px ) {
	#beef {
		margin-top: 20px;
	}
	#sushi {
		margin-top: 20px;
	}
}